sonarr:
  - name: tv
    url: https://sonarr.tld:8989
    api_key: not-a-real-api-key
    renamarr:
      enabled: true
      analyze_files: true
      rename_folders: false
      log_to_file: true
      schedule:
        enabled: true
        interval:
          days: 0
          hours: 1
          minutes: 0
    series_scanner:
      enabled: false
      hourly_job: false
  - name: anime
    url: https://sonarr-anime.tld:8989
    api_key: not-a-real-api-key
    renamarr:
      enabled: false
      analyze_files: false
      rename_folders: false
      log_to_file: false
    series_scanner:
      enabled: true
      hourly_job: true
      hours_before_air: 1 # optional, defaults to 4
radarr:
  - name: radarr
    url: https://radarr.tld:7878
    api_key: not-a-real-api-key
    renamarr:
      enabled: true
      analyze_files: false
      rename_folders: false
      log_to_file: true
      schedule:
        enabled: false
  - name: radarr-4k
    url: https://radarr-4k.tld:7878
    api_key: not-a-real-api-key
    renamarr:
      enabled: true
      analyze_files: true
      rename_folders: false
      log_to_file: false
      schedule:
        enabled: true
        interval:
          days: 1
          hours: 0
          minutes: 5
