export BRANCH_NAME=$(git branch --show-current | tr '/[:upper:]' '-[:lower:]')
export RENAMARR_OTEL_ENABLED="true"
export OTEL_SERVICE_NAME=renamarr
export OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4319
