sonarr:
  - name: tv
    url: https://sonarr.tld:8989
    api_key: not-a-real-api-key
    renamarr:
      enabled: true
      analyze_files: true
      rename_folders: false
      log_to_file: false
      schedule:
        enabled: false
radarr:
  - name: radarr
    url: https://radarr.tld:7878
    api_key: not-a-real-api-key
    renamarr:
      enabled: true
      analyze_files: false
      rename_folders: false
      log_to_file: false
      schedule:
        enabled: false
