sonarr:
  - name: tv
    url: https://sonarr.tld:8989
    api_key: not-a-real-api-key
    series_scanner:
      enabled: True
      hourly_job: True
    existing_renamer:
      enabled: False
      hourly_job: False
      analyze_files: False
  - name: anime
    url: https://sonarr-anime.tld:8989
    api_key: not-a-real-api-key
    series_scanner:
      enabled: False
      hourly_job: True
      hours_before_air: 1 # optional, defaults to 4
    existing_renamer:
      enabled: True
      hourly_job: True
