name: Python package

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  python-ci:
    runs-on: ubuntu-latest
    steps:
      #----------------------------------------------
      #       check-out repo and set-up python
      #----------------------------------------------
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          architecture: "x64"

      #----------------------------------------------
      #         install & configure poetry
      #----------------------------------------------
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.1.1
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      #----------------------------------------------
      # install dependencies if cache does not exist
      #----------------------------------------------
      - name: Install dependencies
        run: poetry install --no-interaction --no-root

      #----------------------------------------------
      #    Permanent venv activation
      #----------------------------------------------
      - name: Activate virtualenv
        run: |
          source .venv/bin/activate
          echo PATH=$PATH >> $GITHUB_ENV

      #----------------------------------------------
      #    run test suite and output coverage file
      #----------------------------------------------
      - name: Test with pytest
        run: |
          pytest --cov-branch --cov=src --cov-report=xml tests

      #----------------------------------------------
      #              lint and formatting
      #----------------------------------------------
      - name: Lint with Ruff
        run: |
          ruff check --output-format=github .

      #----------------------------------------------
      #             upload coverage stats
      #----------------------------------------------
      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          fail_ci_if_error: true
